:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.nav-link {
  transition: all 0.3s ease-in-out; 
  padding-left: 10px !important;
  border-radius: 8px;
}


.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  transform: translateX(5px); 
}


.active-menu {
  background-color: #ffc107 !important; 
  color: #000000 !important; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(10px); 
}

.sidebar-link {
  display: flex;              
  align-items: center;      
  width: 100%;                
  padding: 12px 20px;       
  margin-bottom: 8px;       
  border-radius: 12px;        
  color: #ffffff;            
  text-decoration: none;      
  transition: all 0.3s ease;  
  font-weight: 500;
  font-size: 16px;
}


.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  transform: translateX(4px); 
  color: #ffc107;
}


.sidebar-link.active {
  background-color: #ffc107;  
  color: #0F0A3C;           
  font-weight: 700;           
  box-shadow: 0 4px 15px rgba(255, 193, 7, 0.3); 
  transform: translateX(0);  
}

.sidebar-link i {
  margin-right: 12px;         
  font-size: 1.2rem;          
  display: flex;             
  align-items: center;
}

.product-card {
    position: relative; 
    overflow: hidden; 
}

.product-card .position-absolute {
    z-index: 10; 
    top: 10px;
    right: 10px;
}